/* Estilo para células vazias */
.empty-cell {
  background-color: white;
  color: black;
  cursor: pointer;
}

/* Estilo para X */
.x-cell {
  background-color: red; 
  color: white; 
  cursor: not-allowed;
}

/* Estilo para O */
.o-cell {
  background-color: cadetblue; 
  color: white; 
  cursor: not-allowed;
}